.calendarKanban {
  padding: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.65rem;
  line-height: 1.65rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
