:root {
  --primary-background-color: #f7f9fb; /* light background */
  --secondary-background-color: #e3e8f1; /* background for cards and tasks */

  --card-color: #f0f4f8;

  --border-color: #bfc6ce;

  --primary-text-color: #1e2022;
  --secondary-text-color: #52616b;

  --accent-color: #232d4b; /* accent color for buttons and links */

  --button-background-color: #cfe3fa; /* background color for buttons */
  --hover-button-background-color: #d6e3ef; /* background color for buttons on hover */
  --button-border-color: #bfc6ce;

  --header-background-color: #c5d3e4; /* background color for the header */

  --table-header-background-color: #dfe6f2; /* background color for table headers */

  --tab-color: #526584;
  --hover-background-color: #d8e0ed; /* background color on hover for elements */
  --hover-text-color: #1e2022; /* text color on hover for elements */
  --active-background-color: #6a7af3; /* background color for active elements */

  --error-color: #c11515;
  --disabled-color: #9e9e9e;
}
