.workspace {
  /* margin-bottom: 1rem; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  padding: 0.6rem;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
}

.header_item {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 1.6rem;
  height: 1.6rem;
  stroke-width: 1.6px;
}

.header:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
}

.classList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}

.activeLink {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}

.addClass {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
