/* Стили для всего календаря */
.calendar {
  background-color: var(--primary-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100vh;
}

/* Стили для заголовков */
.rbc-header {
  background-color: var(--header-background-color);
  color: var(--primary-text-color) !important;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 0;
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--primary-text-color) !important;
  margin: 0;
  padding: 10px 0;
}

/* Стили для ячеек дней */
.rbc-day-bg {
  background-color: var(--day-background-color);
  padding: 10px;
  text-align: center;
}

.rbc-day:hover {
  background-color: var(--hover-day-background-color);
}

/* Стили для выбранного дня */
.rbc-selected {
  background-color: var(--selected-day-background-color);
  color: white;
}

/* Стили для событий */
.rbc-event {
  background-color: var(--event-background-color);
  color: red;
  font-size: 0.9rem !important;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.rbc-event:hover {
  background-color: var(--event-hover-background-color);
}

/* Стили для кнопок на панели инструментов */
.rbc-toolbar button {
  background-color: var(--button-background-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 95px;
}

.rbc-toolbar button:hover {
  background-color: var(--button-hover-background-color);
}
