/* Пример стилей для календаря */
.calendarContainer {
  background-color: var(--primary-background-color);
}

.title {
  font-size: 1.65rem;
  line-height: 1.65rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
