.calendarContainer {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fc {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.fc-toolbar {
  margin: 0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--secondary-background-color);
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-button {
  background-color: var(--button-background-color);
  color: var(--primary-text-color);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fc-button:hover {
  background-color: var(--button-hover-background-color);
}

.fc-col-header-cell {
  background-color: var(--secondary-background-color);
}

.fc-daygrid-day {
  padding: 10px;
  text-align: center;
}

.fc-daygrid-day:hover {
  background-color: var(--hover-day-background-color);
}

.fc-selected {
  background-color: var(--selected-day-background-color);
  color: var(--primary-text-color);
}

.fc-event {
  background-color: rgba(133, 167, 203, 0.6);
  color: var(--primary-text-color);
  border-color: var(--border-color);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease;
}

.fc-event:hover {
  background-color: rgba(115, 185, 222, 0.6);
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--button-background-color);
}
